# aes220_RevA1_SDRAM_V1.0.0.ucf

############################################
# SDRAM signals
############################################
NET SDRAMCLK LOC = J16 | IOSTANDARD = LVCMOS18 ;
NET CKE   LOC = H15 | IOSTANDARD = LVCMOS18 ;
NET CSB   LOC = K13 | IOSTANDARD = LVCMOS18 ;
NET CASB  LOC = J14 | IOSTANDARD = LVCMOS18 ;
NET RASB  LOC = J13 | IOSTANDARD = LVCMOS18 ;
NET WEB   LOC = N13 | IOSTANDARD = LVCMOS18 ;
NET BA1   LOC = J12 | IOSTANDARD = LVCMOS18 ;
NET BA0   LOC = K14 | IOSTANDARD = LVCMOS18 ;
NET LDQM  LOC = H13 | IOSTANDARD = LVCMOS18 ;
NET UDQM  LOC = K15 | IOSTANDARD = LVCMOS18 ;
NET ADDR(0)  LOC = L14 | IOSTANDARD = LVCMOS18 ;
NET ADDR(1)  LOC = L13 | IOSTANDARD = LVCMOS18 ;
NET ADDR(2)  LOC = M13 | IOSTANDARD = LVCMOS18 ;
NET ADDR(3)  LOC = M14 | IOSTANDARD = LVCMOS18 ;
NET ADDR(4)  LOC = P16 | IOSTANDARD = LVCMOS18 ;
NET ADDR(5)  LOC = N16 | IOSTANDARD = LVCMOS18 ;
NET ADDR(6)  LOC = P15 | IOSTANDARD = LVCMOS18 ;
NET ADDR(7)  LOC = M15 | IOSTANDARD = LVCMOS18 ;
NET ADDR(8)  LOC = M16 | IOSTANDARD = LVCMOS18 ;
NET ADDR(9)  LOC = R15 | IOSTANDARD = LVCMOS18 ;
NET ADDR(10) LOC = N14 | IOSTANDARD = LVCMOS18 ;
NET ADDR(11) LOC = K16 | IOSTANDARD = LVCMOS18 ;
NET DQ(0)   LOC = C15 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(1)   LOC = E14 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(2)   LOC = F14 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(3)   LOC = F13 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(4)   LOC = G13 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(5)   LOC = E13 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(6)   LOC = G14 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(7)   LOC = D14 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(8)   LOC = H16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(9)   LOC = F16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(10)  LOC = G16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(11)  LOC = E16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(12)  LOC = F15 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(13)  LOC = D15 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(14)  LOC = D16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
NET DQ(15)  LOC = C16 | IOBDELAY = NONE | IOSTANDARD = LVCMOS18;
