# aes220_RevA1_FX2_Interface_V1.0.0.ucf
# Generic template
# Uncomment as required (comment = #)

NET "FI_in(2)" TNM_NET = "FI_in(2)";
TIMESPEC "TS_CLK" = PERIOD "FI_in(2)" 20 ns HIGH 50 %;

#   Net        Ball       Drive

NET RST_in LOC= T5  | IOSTANDARD = LVCMOS33;  #  

NET IF_out(0)  LOC= R13 | IOSTANDARD = LVCMOS33 | DRIVE = 2  | SLEW = SLOW;   # PKTEND   
NET IF_out(1)  LOC= N10 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;   # SLWR
NET IF_out(2)  LOC= P9  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;   # SLRD
NET IF_out(3)  LOC= P7  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;   # SLOE
NET IF_out(4)  LOC= T14 | IOSTANDARD = LVCMOS33 | DRIVE = 12 | SLEW = SLOW;   # SLCS  
NET IF_out(5)  LOC= P12 | IOSTANDARD = LVCMOS33;   #   
NET IF_out(6)  LOC= T13 | IOSTANDARD = LVCMOS33;   #   
NET IF_out(7)  LOC= R9  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | SLEW = FAST;    # IFCLK 

NET FI_in(2) LOC= T9  | IOSTANDARD = LVCMOS33;               #  
NET FI_in(1) LOC= T7  | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   
NET FI_in(0) LOC= T8  | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   

NET FI_io(0)  LOC= T2  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16
NET FI_io(1)  LOC= R2  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  
NET FI_io(2)  LOC= T3  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  
NET FI_io(3)  LOC= P4  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  
NET FI_io(4)  LOC= R3  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  
NET FI_io(5)  LOC= N4  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  
NET FI_io(6)  LOC= P5  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  
NET FI_io(7)  LOC= N6  | IOSTANDARD = LVCMOS33 |DRIVE = 12 ; # | IBUF_DELAY_VALUE = 16  

