# aes220_RevA1_FX2_Interface_V1.0.0.ucf
# Generic template
# Uncomment as required (comment = #)

NET "CLK_in" TNM_NET = "CLK_in";
TIMESPEC "TS_CLK" = PERIOD "CLK_in" 20 ns HIGH 50 %;

#   Net        Ball       Drive

NET CLK_in   LOC= T9  | IOSTANDARD = LVCMOS33;  #

NET RST_in   LOC= T5  | IOSTANDARD = LVCMOS33;  #  

#NET FX2_SCL  LOC= P8 | IOSTANDARD = LVCMOS33;  # 
#NET FX2_SDA  LOC= T4 | IOSTANDARD = LVCMOS33;  # 


