# aes220_RevA1_FX2_Interface_V1.0.ucf
# Generic template
# Uncomment as required (comment = #)

#CONFIG ENABLE_SUSPEND = "FILTERED"; # Enables the suspend feature

NET "FX2_FX2Int_in(2)" TNM_NET = "FX2_FX2Int_in(2)";
TIMESPEC "TS_CLK" = PERIOD "FX2_FX2Int_in(2)" 20 ns HIGH 50 %;

#   Net        Ball       Drive

NET SOFT_RESET_in LOC= T5  | IOSTANDARD = LVCMOS33;  #  

NET FX2Int_FX2_out(0)  LOC= R13 | IOSTANDARD = LVCMOS33;   #   
NET FX2Int_FX2_out(1)  LOC= N10 | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   
NET FX2Int_FX2_out(2)  LOC= P9  | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   
NET FX2Int_FX2_out(3)  LOC= P7  | IOSTANDARD = LVCMOS33;   #  
NET FX2Int_FX2_out(4)  LOC= P12 | IOSTANDARD = LVCMOS33;   #   
NET FX2Int_FX2_out(5)  LOC= T13 | IOSTANDARD = LVCMOS33;   #   
NET FX2Int_FX2_out(6)  LOC= T14 | IOSTANDARD = LVCMOS33;   #   
NET FX2Int_FX2_out(7)  LOC= R9  | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   

NET FX2_FX2Int_in(2) LOC= T9  | IOSTANDARD = LVCMOS33;   #  
NET FX2_FX2Int_in(1) LOC= T7  | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   
NET FX2_FX2Int_in(0) LOC= T8  | IOSTANDARD = LVCMOS33 |DRIVE = 12;   #   

NET FX2_io(0)  LOC= T2  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; # 
NET FX2_io(1)  LOC= R2  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   
NET FX2_io(2)  LOC= T3  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   
NET FX2_io(3)  LOC= P4  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   
NET FX2_io(4)  LOC= R3  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   
NET FX2_io(5)  LOC= N4  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   
NET FX2_io(6)  LOC= P5  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   
NET FX2_io(7)  LOC= N6  | IOSTANDARD = LVCMOS33 |DRIVE = 12 | IBUF_DELAY_VALUE = 16; #   


#NET FX2_GPIO(0)   LOC= P10 | IOSTANDARD = LVCMOS33;   #   
#NET FX2_GPIO(1)   LOC= R11 | IOSTANDARD = LVCMOS33;   #   
#NET FX2_GPIO(2)   LOC= T12 | IOSTANDARD = LVCMOS33;   #   
#NET FX2_GPIO(3)   LOC= R14 | IOSTANDARD = LVCMOS33;   #   
#NET FX2_GPIO(4)   LOC= T6  | IOSTANDARD = LVCMOS33;   #  
#NET FX2_GPIO(5)   LOC= N8  | IOSTANDARD = LVCMOS33;   #  

#NET FX2_SCL   LOC= P8 | IOSTANDARD = LVCMOS33;  # 
#NET FX2_SDA   LOC= T4 | IOSTANDARD = LVCMOS33;  # 

#NET FX2_IOD(0)   LOC= A2  | IOSTANDARD = LVCMOS33;   # PROG_B PIN
#NET FX2_IOD(1)   LOC= T15 | IOSTANDARD = LVCMOS33;   # DONE PIN  
#NET FX2_IOD(4)   LOC= T11 | IOSTANDARD = LVCMOS33;   # AWAKE
#NET FX2_IOD(7)   LOC= R16 | IOSTANDARD = LVCMOS33;   # SUSPEND PIN

