# aes220_RevA1_Banks_V1.0.0.ucf
# Generic template
# Comment/Uncomment as required (comment = #)

#      Net          Ball      Drive


NET    DBG_out(0)     LOC= C9  | IOSTANDARD = LVCMOS33;           #
NET    DBG_out(1)     LOC= A9  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(2)     LOC= A6  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(3)     LOC= B6  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(4)     LOC= A5  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(5)     LOC= C5  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(6)     LOC= A4  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(7)     LOC= B4  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(8)     LOC= A3  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(9)     LOC= B3  | IOSTANDARD = LVCMOS33;  				 #
NET    DBG_out(10)    LOC= C8  | IOSTANDARD = LVCMOS33;  # GCLK8	 #
NET    DBG_out(11)    LOC= D8  | IOSTANDARD = LVCMOS33;  # GCLK9	 #

