# Generic template
# Uncomment as required (comment = #)

NET "FX2_CLKOUT" TNM_NET = "FX2_CLKOUT";
#TIMESPEC "TS_CLK" = PERIOD "FX2_CLKOUT" 20 ns HIGH 50 %;
NET    FX2_CLKOUT   LOC= t9 |IOSTANDARD = LVCMOS33;   #  

#      Net          Ball      Drive

#NET    FX2_SCL      LOC= T4 | IOSTANDARD = LVCMOS33;  # 
#NET    FX2_SDA      LOC= R5 | IOSTANDARD = LVCMOS33;  # 

NET    FX2_IOA(0)   LOC= T5  | IOSTANDARD = LVCMOS33;  #  
NET    FX2_IOA(1)   LOC= T6  | IOSTANDARD = LVCMOS33;  #  
NET    FX2_IOA(2)   LOC= P7  | IOSTANDARD = LVCMOS33;  #  
NET    FX2_IOA(3)   LOC= N8  | IOSTANDARD = LVCMOS33;  #  
NET    FX2_IOA(4)   LOC= P12 |IOSTANDARD = LVCMOS33;   #   
NET    FX2_IOA(5)   LOC= T13 |IOSTANDARD = LVCMOS33;   #   
NET    FX2_IOA(6)   LOC= R13 |IOSTANDARD = LVCMOS33;   #   
NET    FX2_IOA(7)   LOC= T14 |IOSTANDARD = LVCMOS33;   #   

NET    FX2_IOB(0)   LOC= T2  |IOSTANDARD = LVCMOS33; # 
NET    FX2_IOB(1)   LOC= R2  |IOSTANDARD = LVCMOS33; #   
NET    FX2_IOB(2)   LOC= T3  |IOSTANDARD = LVCMOS33; #   
NET    FX2_IOB(3)   LOC= P4  |IOSTANDARD = LVCMOS33; #   
NET    FX2_IOB(4)   LOC= R3  |IOSTANDARD = LVCMOS33; #   
NET    FX2_IOB(5)   LOC= N4  |IOSTANDARD = LVCMOS33; #   
NET    FX2_IOB(6)   LOC= P5  |IOSTANDARD = LVCMOS33; #   
NET    FX2_IOB(7)   LOC= N6  |IOSTANDARD = LVCMOS33; #   

#NET    FX2_IOD(0)   LOC= A2  |IOSTANDARD = LVCMOS33;   # PROG_B PIN
#NET    FX2_IOD(1)   LOC= T15 |IOSTANDARD = LVCMOS33;   # DONE PIN  
NET    FX2_IOD(2)   LOC= P10 |IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE;   #   
NET    FX2_IOD(3)   LOC= R11 |IOSTANDARD = LVCMOS33;   #   
#NET    FX2_IOD(4)   LOC= T11 |IOSTANDARD = LVCMOS33;   #   
#NET    FX2_IOD(5)   LOC= T12 |IOSTANDARD = LVCMOS33;   #   
#NET    FX2_IOD(6)   LOC= R14 |IOSTANDARD = LVCMOS33;   #   
#NET    FX2_IOD(7)   LOC= R16 |IOSTANDARD = LVCMOS33;   # SUSPEND PIN


# GPIF control nets (data lines are port IOB):
#NET    FX2_IFCLK   LOC= R9  |IOSTANDARD = LVCMOS33; # 
#NET    FX2_SLWR    LOC= N10 |IOSTANDARD = LVCMOS33; #   
#NET    FX2_SLRD    LOC= P9  |IOSTANDARD = LVCMOS33; #   
#NET    FX2_FLAGA   LOC= R7  |IOSTANDARD = LVCMOS33; #   
#NET    FX2_FLAGB   LOC= T7  |IOSTANDARD = LVCMOS33; #   
#NET    FX2_FLAGC   LOC= T8  |IOSTANDARD = LVCMOS33; #   

